<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/style.css">

</head>

<body>
    <div class="content d-flex flex-column justify-content-between align-items-center">
        <div class="top-content">
            <header class="p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
                <div class="container d-flex flex-column flex-md-row align-items-center">
                    <h1 class="my-0 mr-md-auto font-weight-normal">{{.h1}}</h1>
                    <nav class="my-2 my-md-0 mr-md-3">
                        <a class="p-2 text-dark" href="/">Home</a>
                        <a class="p-2 text-dark" href="/ping/">Ping</a>
                        <a class="p-2 text-muted" href="#">Features</a>
                        <a class="p-2 text-muted" href="#">Enterprise</a>
                        <a class="p-2 text-muted" href="#">Support</a>
                        <a class="p-2 text-muted" href="#">Pricing</a>
                    </nav>
                    {{if .authLogin}}
                        <a class="btn btn-outline-primary" href="/user/">{{.authLogin}}</a>
                    {{else}}
                        <a class="btn btn-outline-primary" href="/auth/">Sign up</a>
                    {{end}}
                </div>
            </header>
            <main>
                <div class="container">